

/* * {
    border: 1px purple solid;
}  */

/* ///////////////////////// */








html, body {
  overflow: hidden;
  /* max-width: 50vw; */
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;}
  
  body {
    max-width: 50vw;
    max-width: 100vh;
    background-color: var(--background-color);
    background-image: var(--background-image);
}

.content {
    color: var(--text-color);
    /* font-weight: 700; */
    font-size: 1.2rem;
    position: absolute;
    /* width: 100%; */
    /* height: 80vh;     */
    display: grid;
    /* grid-template: var(--header-height) 1fr / var(--aside-width) 1fr ; */
    grid-template: var(--header-height) 1fr / var(--aside-width) 1fr;
    grid-template-areas: 
    "header header"
    "aside main";
}

.header {
    grid-area: header;
    background: none;
    display: grid;
    grid-template-columns: var(--aside-width) 1fr;
    /* justify-content: space-between; */
    padding: 0.3rem 1.5rem ;
    /* justify-content: space-between; */
    background-color: var(--asideAndHeader-backgroundColorAndOpacity);
    align-items: center;
  }

.logo{
  justify-self: center;
}

.user {
    display : flex;
    gap: 3rem;
}

.aside {
  height: 90vh;
    /* background: none; */
    background-color: var(--asideAndHeader-backgroundColorAndOpacity);
    grid-area: aside;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; */
    /* display: none; */
    display: grid;
    grid-template-rows: 2rem 1fr 2fr 2rem;
    grid-row-gap: 2rem;
    padding: 1rem 1rem;
    text-align: center;
    border-top-right-radius: -2rem;
}

.add-todo-div:hover,
.projects-div .all-projects li:hover,
.navigation-div div:hover,
.add-project-div:hover {
  background-color: var(--hoverAsideAndHeader-backgroundColorAndOpacity);
  /* margin-bottom: 0.1rem;
  margin-top: 0.1rem; */
  /* padding: 0.1rem; */
  cursor: pointer;
  color: var(--text-color-pointed)
}
.projects-div{
  margin-top: 1rem;
}

.main {
  /* height: 90vh; */
  height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
    background: none;
    grid-area: main;
}

.main-header {
  text-align: center;
}

.display-projects {
  width: calc(100vw - var(--aside-width));
  display: grid;
  gap: 1rem;
  /* scroll-behavior: smooth; */
  /* scrollbar-width: 1rem; */
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 2rem;
}

.all-projects{
  padding: 0;
}

img path{
  fill: var(--text-color);
}

/* width: 3ch; */

/* the scrollbar styling */
.display-projects {
  --sb-track-color: #454f71;
  --sb-thumb-color: #272130;
  --sb-size: 10px;
}

.display-projects::-webkit-scrollbar {
  width: var(--sb-size)
}

.display-projects::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

.display-projects::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
  
}

@supports not selector(::-webkit-scrollbar) {
  .display-projects {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}


/* all icons  */

.bbb,
.add-todo-div,
.add-project-div,
.navigation-div > *{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 0.8rem;
  margin-left: 1rem;
  margin-top: 0.1rem;
}

.bbb svg,
.add-todo-div svg,
.add-project-div svg,
.navigation-div > * > svg {
  width: 1.5rem;
}


.add-project-div,
.add-todo-div {
  color: rgb(145, 95, 95);
  font-weight: bold;
}