.todo-card,
.plusDiv
{

    margin: 0 3rem;
    padding: 1rem;
    border: 1px var(--text-color) solid;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-blend-mode: darken;
    justify-self: stretch;
}

.todo-card:hover,
.plusDiv:hover{
    background-color: var(--asideAndHeader-backgroundColorAndOpacity);
}

.todo-upper-text {
    display: grid;
    grid-template-columns: 1rem 1fr 5ch 15ch;
    gap: 1rem;
    justify-content: space-between;
    /* font-size: 2ren; */
}



.todo-lower-text {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}

.manipulation-buttons-todo {
    display: flex;
    gap: 1.5rem;
}

.manipulation-buttons-todo *:hover{
    cursor: pointer;
    color: var(--text-color-pointed);
}

.todo-date {
    text-align: end;
}

.plusDiv {
    justify-self: end;
    cursor: pointer;
    font-size: 2rem;
    width: 5rem;
    color: var(--text-color);
    text-align: center;
    padding: 0;
}

.finished {
    cursor: pointer;
}

input:checked +p {
 text-decoration: line-through;
}